body {
  background-color: hsl(233, 47%, 7%);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
}

h1 {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-weight: 700;
}

h5 {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: 'Lexend Deca', sans-serif;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.container {
  background-color: hsl(244, 38%, 16%);
  border-radius: 0.3rem;
  margin: 4rem 8rem;
  padding: 0;
  width: 80%;
}

.description {
  width: 21rem;
  margin: 5rem;
}

.insights {
  color: hsl(277, 64%, 61%);
}

.stat_headers {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.stat_numbers {
  color: hsl(0, 0%, 100%);
  font-size: 1.2rem;
  font-weight: 700;
}

.img-column {
  background-color: hsl(277, 64%, 61%);
}

.header-img {
  opacity: 0.55;
  float: right;
}

.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
